@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #e5e7eb;
}

main {
  min-height: 76.5vh;
}

td, th {
  padding: 8px;
}

tbody:nth-child(even) {
  background-color: #f0f9ff;
}

@media only screen and (max-width: 500px) {
  td, th {
    padding: 2px;
  }
}